:root {
  --main-color: #FF9800;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 0 15px;
  margin: auto;
}

.active {
  color: var(--main-color);
  opacity: 1 !important;
}
/* Start Settings Box */
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  min-height: 100vh;
  z-index: 1000;
  transition: .3s;
  border: 1px solid #EEE;
}

.settings-box.open {
  left: 0;
}

.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.settings-box .toggle-settings .fa-gear {
  width: 30px;
  padding: 8px 0;
}

.settings-box .settings-container .option-box {
  padding: 10px;
  text-align: center;
  background-color: #EEE;
  margin: 10px;
}

.settings-box .settings-container .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.settings-box .settings-container .option-box .colors-list {
  list-style: none;
  align-items: center;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
}

.settings-box .settings-container .option-box .colors-list li {
  width: 24px;
  height: 24px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
}

.settings-box .settings-container .option-box .colors-list li.active {
  border: 3px solid #FFF;
}

.settings-box .settings-container .option-box .colors-list li:first-child {
  background-color: #FF9800;
}

.settings-box .settings-container .option-box .colors-list li:nth-child(2) {
  background-color: #E91E63;
}

.settings-box .settings-container .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}

.settings-box .settings-container .option-box .colors-list li:nth-child(4) {
  background-color: #03A9F4;
}

.settings-box .settings-container .option-box .random-backgrounds,
.settings-box .settings-container .option-box .testing-option {
  display: flex;
  justify-content: space-around;
}

.settings-box .settings-container .option-box .colors-list li:last-child {
  background-color: #4CAF50;
}

.settings-box .settings-container .option-box .yes,
.settings-box .settings-container .option-box .no {
  width: 50px;
  background-color: #009688;
  color: #FFF;
  margin-top: 10px;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: .5;
  cursor: pointer;
}

.settings-box .settings-container .option-box .random-backgrounds span.active {
  opacity: 1;
}

.bullets-option {
  display: flex;
  justify-content: space-around;
}

.settings-box .reset-options {
  background-color: #F44336;
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
/* End Settings Box */

/* Start Nav Bullets */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
}

.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.nav-bullets .bullet:hover .tooltip {
  display: block;
}

.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: #FFF;
  padding: 4px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  border-radius: 5%;
  display: none;
}

.nav-bullets .bullet .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  border-color: transparent transparent transparent var(--main-color);
}
/* End Nav Bullets */

/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url('../imgs/01.jpg');
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.landing-page .header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.landing-page .header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}

.landing-page .header-area .links-container {
  width: 100%;
  float: right;
}

.landing-page .header-area .links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.landing-page .header-area .links li {
  margin-left: 15px;
}

.landing-page .header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.landing-page .header-area .links li a:hover,
.landing-page .header-area .links li a.active {
  color: var(--main-color);
}

.header-area {
  position: relative;
}

.header-area .toggle-menu {
  width: 40px !important;
  margin: 0 auto !important;
  height: 40px !important;
  font-size: 40px !important;
  padding: 1px !important;
  cursor: pointer !important;
  position: absolute !important;
  top: 25% !important;
  right: 5% !important;
}

.landing-page .introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%);
  z-index: 2;
  color: #fff;
  text-align: center;
}

.landing-page .introduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
  width: 100%;
}

.landing-page .introduction-text h1 span {
  color: var(--main-color);
  margin: 0;
}

.landing-page .introduction-text p {
  line-height: 1.6;
  font-size: 20px;
}

@media (max-width: 991px) {
  .header-area .links-container {
    width: 100% !important;
  }

  .header-area .links {
    display: none !important;
  }

  .header-area .toggle-menu {
    display: block !important;
    width: 40px !important;
    height: 40px !important;
    font-weight: 40px !important;
  }

  .header-area .toggle-menu.menu-active:after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    left: 10px;
    bottom: -10px;
  }

  .header-area .links-container .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }

  .header-area .links-container .links.open {
    background-color: #FFF !important;
    padding: 10px !important;
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    top: 50px !important;
    width: 100% !important;
    border-radius: 4px !important;
  }

  .header-area .links-container .links.open li {
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .header-area .links-container .links {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    list-style: none;
    justify-content: flex-end;
  }

  .header-area .toggle-menu {
    display: none !important;
  }
}
/* End Landing Page */
/* Start About Us */
.about-us {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.about-us .info-box {
  flex: 1;
  padding: 30px;
}

.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 20px;
}

.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}

.about-us .img-box {
  flex: 1;
  text-align: center;
}

.about-us .img-box img {
  width: 250px;
}
/* End About Us */
/* Start Skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEE;
}

.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 0 50px;
  text-align: center;
}

.skills .skill-box {
  background-color: #FFF;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}

.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
}

.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 6px;
  background-color: var(--main-color);
  transition: all 1s;
}
/* End Skills */

/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 20px;
  text-align: center;
}

.gallery .images-box {
  text-align: center;
}

.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #F6F6F6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 20px;
  z-index: 1001;
}

.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}

.popup-box img {
  max-width: 100%;
}

.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
}
/* End Gallery */

/* Start Timeline */
.timeline {
  padding: 50px 0;
  background-color: #EEE;
}

.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}

.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #FFF;
  padding: 2px 5px;
  font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}

.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #FFF;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}

.timeline .timeline-content .left::before {
  right: -35px;
}

.timeline .timeline-content .right::before {
  left: -35px;
}

.timeline .timeline-content .left {
  float: left;
}

.timeline .timeline-content .right {
  float: right;
}

.timeline .timeline-content .content {
  padding: 20px;
  background-color: #FFF;
  border-radius: 5px;
}

.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}

.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}

.clearfix {
  clear: both;
}

.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
}

.timeline .timeline-content .left .content::before {
  right: -20px;
  border-color: transparent transparent transparent #FFF;
}

.timeline .timeline-content .right .content::before {
  left: -20px;
  border-color: transparent #FFF transparent transparent;
}
/* End Timeline */
/* Start Features */
.features {
  padding: 80px 0;
}

.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}

.features .all-feat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.features .all-feat .feat-box {
  text-align: center;
}

.features .all-feat .feat-box img {
  width: 96px;
}

.features .all-feat .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}

.features .all-feat .feat-box h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
  border-radius: 5px;
}

.features .all-feat .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #767676;
}
/* End Features */
/* Start Testimonials */
.testimonials {
  padding: 60px 0 80px 0;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  height: 100%;
}

.testimonials::after {
  content: "";
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  background-color: #333;
  height: 100%;
}

.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  margin: 0 0 60px;
  text-align: left;
  position: relative;
  z-index: 2;
}

.testimonials .testimonials-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.testimonials .ts-box {
  position: relative;
  z-index: 2;
  float: left;
  background-color: #FFF;
  padding: 20px;
}

.testimonials .ts-box:not(:last-of-type) {
  margin-left: 1%;
}

.testimonials .ts-box > p {
  margin: 0 0 20px 0;
  line-height: 1.5;
  font-size: 18px;
  color: #777;
  font-style: italic;
}

.testimonials .ts-box .person-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.testimonials .ts-box .person-info img {
  width: 100%;
  border-radius: 50%;
}

.testimonials .ts-box .person-info .main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonials .ts-box .person-info h4 {
  margin: 0 0 15px 0;
}

.testimonials .ts-box .person-info p {
  color: #777;
  margin: 0;
}
/* End Testimonials */
/* Start Contact Us */
.contact {
  min-height: 600px;
  background-image: url('../imgs/contact.png');
  background-size: cover;
  padding: 80px 0;
  position: relative;
}

.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .6);
  /* background-color: rgba(255 255 255 / 60%); */
}

.contact .container {
  position: relative;
  z-index: 2;
}

.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}

.contact form {
  max-width: 800px !important;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCC;
  background-color: rgba(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}

.contact form input {
  height: 40px;
}

.contact form input,
.contact form textarea {
  width: 350px !important;
  border-radius: 5px;
}

.contact form textarea {
  height: 150px !important;
  resize: none;
}

.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  cursor: pointer;
  color: #FFF;

}

.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::placeholder {
  color: transparent;
}
/* End Contact Us */
/* Start Grid System */
@media (min-width: 576px) { /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) { /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) { /* Desktops */
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) { /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
/* End Grid System */